<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Orbitron&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/style.css">

    <title>node mongodb todo list</title>

</head>
<body>
    <main>
        <section id="section-list">
            <% for(let i = 0; i < listData.length; i++) {%>
                <section class="actionList paper" name="<%= listData[i]._id %>">
                    <section class="actionList-header">
                        <span><%= listData[i].name %></span>
                        <span class="material-symbols-outlined actionList-closeButton">
                            close
                        </span>
                    </section>
                    
                    <section class="actionList-input-section">
                        <form action="/addToDo" method="POST" class="form-addToDo">
                            <input type="text" class="tableID hidden" name="id" value="<%= listData[i]._id %>">
                            <input type="text" class="actionList-taskname-input" placeholder="Task..." name="taskName">
                            <!-- <input type="Submit" class="addTaskButton"> -->
                            <a href="javascript:{}" id="addListButton" onclick="this.closest('form').submit();return false;">
                                <span class="material-symbols-outlined">
                                    add_circle
                                    </span>
                                    <!-- <span class="button-primary">Add</span> -->
                            </a>
                        </form>
                        
                    </section>
                    <ul class="todos">
                        <h3>Tasks</h3>
                        <% for(let j = 0; j < listData[i].tasks.length; j++) {%>
                            <li class="todo-li" draggable="true">
                                <span class="taskID hidden"><%= listData[i].tasks[j].id %></span>
                                <span class="listID hidden"><%= listData[i]._id %></span>
                                <span class="task-name"><%= listData[i].tasks[j].taskName %></span>
                                
                                <span class="material-symbols-outlined task-delete">
                                    delete
                                </span>
                                <!-- <span class="task-difficulty"></span> -->
                                <!-- <span class="task-notes hidden"></span> -->
                            </li>
                        <% } %>
                    </ul>
                </section>
            <% } %>
        </section>
    </main>
   

    
    <section id="addListSection" class="paper">
        <form action="/addList" method="POST">
            <a href="javascript:{}" id="addListButton" onclick="this.closest('form').submit();return false;">
                <span class="material-symbols-outlined" id="addListButtonSymbol">
                    add_box
                </span>
                <!-- <span id="addListBeta">+</span> -->
            </a>
        </form>        
    </section>
    
    <script src="/js/main.js"></script>
</body>
</html>